{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Profile Page</h2>
<div>
    <p>Your account details are below:</p>
    <table>
    <tr>
        <img src="{{ url_for('static', filename=image_path) }}" alt="User Image"id="foto-profil">
    </tr>
    <tr>
        <td id="nama">Username:</td>
        <td>{{ account['username'] }}</td>
    </tr>
    <tr>
        <td>Password:</td>
        <td>******</td>
    </tr>
    <tr>
        <td id="email">Email:</td>
        <td>{{ account['email'] }}</td>
    </tr>
</table>
     <div class="bayar">
            <h2 id="payment">Alat Pembayaran : </h2>
            <img src="{{ url_for('static', filename='image/dana.png') }}"  alt="dana.png" id="dana">
            <img src="{{ url_for('static', filename='image/gopay.png') }}"  alt="gopay.png" id="gopay">
        </div>
</div>
<h1>{{ user.username }}'s Profile</h1>
        <p>Email: {{ user.email }}</p>
        <p>Views: {{ user.views }}</p>
        <p>Likes: {{ user.likes }}</p>
        <form method="post">
            <button type="submit" name="like">Like</button>
        </form>
        <p>{{ msg }}</p>
{% endblock %}
