* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1b1b1b;
    display: flex;
    flex-wrap: wrap;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    
}

.sidebar {
    display: inline;
    height: 100vh;
    width: 50vh;
    position: fixed;    
    background-color: #d6b086;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    color: #1b1b1b;
}

#wtf {
    margin: 0 2.5em ;
}

#info {
    margin: 1.5em auto;
    font-size: 30pt;
}

#profil {
    margin: 1.5em auto;
    font-size: 15pt;
}

#beranda {
    margin: 1.5em auto;
    font-size: 15pt;
}

#keluar {
    margin: 1.5em auto;
    font-size: 15pt;
}