* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1b1b1b;
    display: flex;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.sidebar {
    display: inline;
    height: 100vh;
    width: 50vh;
    position: fixed;
    background-color: #d6b086;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    color: #1b1b1b;
}

#wtf {
    margin: 4em 2.5em;
}

#info {
    margin: 1em auto;
    font-size: 30pt;
}

#profil {
    margin: 1.5em auto
}

#edit {
    margin: 1.5em auto;
}

#hapus {
    margin: 1.5em auto;
}

.main {
    margin: 4em 0 0 30vh;
    color: #ffffff;
}

.bio {
    display: flex;
    margin: auto 10em;
}

#foto-profil {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 1em auto;
}

.name {
    margin: 1em 1em 0 0;
}

#nama {
    margin: 0 0.75em;
    font-size: 25pt;
}

#telp {
    font-weight: 300;
    margin: 1em;
}

#email {
    font-weight: 300;
    margin: 1em 1em 0 1em;
}

.location {
    margin: 1em 10em 1em 15em;
    display: flex;
    align-content: center;
}

#gmaps {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 20px auto;
}

#alamat {
    margin: 20px 50px;
    font-weight: 300;
}

.bayar {
    display: flex;
    align-items: center;
    margin: 1em 0 0 15em;
}

#dana {
    margin: 1em;
    width: 120px;
    height: auto;
}

#gopay {
    margin: 1em;
    width: 200px;
    height: auto;
}

#edit-page {
    margin-top: 100vh;
}